{
    "extends": ["eslint:recommended"],
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "no-console": "off"
    }
}